<%= form_with(model: menu, local: true) do |form| %>
  <% if menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :menu %>
    <%= form.text_field :menu %>
  </div>

  <div class="field">
    <%= form.label :menu_price %>
    <%= form.number_field :menu_price %>
  </div>

  <div class="field">
    <%= form.label :menu_category %>
    <%= form.text_field :menu_category %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
