<p id="notice"><%= notice %></p>

<p>
  <strong>Login:</strong>
  <%= @ceo.login_id %>
</p>

<p>
  <strong>Password:</strong>
  <%= @ceo.password %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @ceo.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @ceo.email %>
</p>

<%= link_to 'Edit', edit_ceo_path(@ceo) %> |
<%= link_to 'Back', ceos_path %>
