<p id="notice"><%= notice %></p>
<html>
	<head>
	<!-- vm글자유동적으로 줄어듬 -->
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width">
	  <title>replit</title>
	  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	</head>
	
	<body>
		<div>
			<nav class="top_bar">
				<a href="/" class="font1">
					배달의 민족
				</a>
				<h1 class="font1">주문내역</h1>
			</nav>
		</div>
	</body>
<!-- 
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_orders.each do |user_order| %>
      <tr>
        <td><%= link_to 'Show', user_order %></td>
        <td><%= link_to 'Edit', edit_user_order_path(user_order) %></td>
        <td><%= link_to 'Destroy', user_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Order', new_user_order_path %>
 -->