<p id="notice"><%= notice %></p>

<p>
  <strong>Total price:</strong>
  <%= @order.total_price %>
</p>

<p>
  <strong>Requests:</strong>
  <%= @order.requests %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @order.payment %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
