<!DOCTYPE html>
<html>
  <head>
    <title>GoormRailsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	  <div>
		<% if user_signed_in? %>
		  	<%= link_to "HOME","/"%>
			<%= link_to "마이페이지", '/mypage' %>
			<%= link_to "주문내역", '/user_order' %>
			<%= link_to "찜", '/dibs' %>
			<%= link_to "리뷰", '/review' %>
			<%= link_to "로그아웃", destroy_user_session_path, method: :delete %>
		<% else %>
			<%= link_to "로그인", user_session_path %>
			<%= link_to "회원가입", "/users/sign_up" %>
		<% end %>
	</div>
	<hr/>
	<!-- <%= alert %>
	<%= notice %>
	<h2 style="font-weight: bold">로그인 정보</h2>
	<% if user_signed_in? %>
		<div>
			아이디 : <%= current_user.email %><br/>
			유저 No. : <%= current_user.id %>
		</div>
	<% else %>
		로그인 되어있지 않음.
	<% end %> -->
    <%= yield %>
  </body>
</html>
